/* ----- Color Palette -----
  Alice Blue (--white) #E7ECEF
  Yala Blue (--dark-blue)#274C77
  Cerulean (--medium-blue)Frost #6096BA
  Baby Blue (--light-blue)Eyes #A3CEF1
  Battleship Grey (--light-grey) #8B8C89
   ----- Color Palette -----*/

:root {
  --white: #E7ECEF;
  --dark-blue: #274C77;
  --medium-blue: #6096BA;
  --light-blue: #A3CEF1;
  --light-grey: #8B8C89;
  --dark-blue-green: #0A2E36;
}

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');

html, body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0px;
  font-family: 'Spline Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

#container { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}

.header, .footer, .content {
  width: 100%;
}

.header, .footer {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 8px 0px;
}

.footer-text {
  display: flex;
  align-items: center;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 4px;
}

.github-icon {
  padding: 0 4px;
  width: 26px;
  height: auto;
  transition: transform .5s ease-in-out;
}

.github-icon:hover {
  transform: rotate(360deg);
}

#header-top {
  font-size: 48px;
  margin: 8px;
  text-shadow:
  3px 3px 0 var(--dark-blue-green),
-1px -1px 0 var(--dark-blue-green),
 1px -1px 0 var(--dark-blue-green),
 -1px 1px 0 var(--dark-blue-green),
  1px 1px 0 var(--dark-blue-green);
}

#header-bottom {
  font-size: medium;
  display: flex;
  background-color: var(--white);
  color: var(--dark-blue);
  margin: 12px;
  margin-top: 0px;
  padding: 6px;
  border: 4px solid var(--medium-blue);
  border-radius: 8px;
}

#content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  align-items: center;
  background-color: var(--medium-blue);
}


.menu-button {
  position: relative;
  top: 0;
  margin: 4px 10px;
  padding: 0px 10px;
  transition: top ease 0.2s;
  cursor: pointer;
}

.menu-button:hover {
  top: -3px;
}

.clicked-button {
  border-bottom: 3px solid var(--dark-blue);
}

.info-container, .food-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 510px;
  background-color: var(--white);
  border: 4px solid var(--dark-blue);
  border-radius: 16px;
  color: var(--dark-blue-green);
}

.info-header {
  font-size: 24px;
  font-weight: bold;
  padding:12px;
  padding-bottom: 0px;
}

.info-content {
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 100;
  padding: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.insta-handle {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.picture {
  max-width: 200px;
  height: auto;
  margin-top: 12px;
  border-radius: 16px;
  box-shadow: 6px 4px 4px var(--light-grey)
}

.food-container {
  font-size: 36px;
  margin: 16px;
}

#appetizer-container { 
  margin-top: 32px;
}

#dessert-container { 
  margin-bottom: 32px;
}

.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 8px;
  color: var(--dark-blue);
}


.food-bundle {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.food-description {
  width: 180px;
  font-size: 14px;
}

.food-image {
  max-width: 200px;
  height: auto;
  border-radius: 16px;
  margin: 12px;
  box-shadow: 6px 4px 4px var(--light-grey);
}
